*{
    padding: 0;
    margin: 0;
  }
  @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,300&display=swap');
  .bg-blue{
    background: linear-gradient(to left,rgb(40,44,70),rgb(81,84,113));
  }
  .scale:hover{
    background: linear-gradient(to left,rgb(40,44,70),rgb(81,84,113));
    border-radius: 7px;
    transform: scale(1.2);
    transition: all 1s;
    opacity: .6;
    background: fixed;
  }
  #botonera ul li a{
   color: rgb(255, 239, 138);
   font-size: 1em;
   font-weight: bold;
   font-family: 'Roboto', inherit;
   padding: 40px;   
  }
  #botonera img{
    width: 150px;
    border-radius: 7px;
  }
  /* termina nav */
  /* inicia main */
  #bgi{
    background-image: url(../multimedios/verdeeco.jpg);
  }
  .bg-lightblue{
    background-color: #D7DEF1;
  }
  #btn-blue{
    background: linear-gradient(to bottom,rgb(40,44,70),rgb(81,84,113));
    color: white;
    font-weight: bold;
    font-family: 'Roboto', inherit;
  }
  #btn-blue:hover{
    color: rgb(251, 236, 139);
    font-weight: bold;
    font-family: 'Roboto', inherit;
    transition: transform all 1s;
  }
  #submit{
    padding: 10px 20px;
    color: #cbbddb;
    font-size: 9px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    letter-spacing: 4px;
    border: 1px solid #bcb2ef;
    margin: auto;
  }
  #submit:hover{
    background: #bcb2ef;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #bcb2ef, 0 0 25px #bcb2ef, 0 0 50px #bcb2ef, 0 0 100px #bcb2ef;
  }
  h1, h2, h3, p{
    text-align: center;
    font-family: 'Roboto', inherit;
    color: black;
    padding: 5px;
    margin-bottom: 10px;
  }
  .txt-deco{
    text-align: center;
    font-family: 'Roboto', inherit;
    color: black;
    padding: 5px;
    margin-bottom: 10px;
    font-weight: bold;
  }
  .text-yellow{
    font-family: 'Roboto', inherit;
    color: rgb(179, 167, 90);
  }
  footer img{
    height: 40px;
    width: auto;
    display: flex;
    justify-items: center;
    align-items: center;
    padding-right: 2em;
  }
  footer img:hover{
    background: fixed; 
    transform: scale(1.2);
    transition: all 1s;
  }