*{
    padding: 0;
    margin: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,300&display=swap');
.txt-deco{
    text-decoration: underline;
}
.text-yellow{
    font-family: $mainFont;
    color: rgb(179, 167, 90);
}
h1, h2, h3, p{
    text-align: center;
    font-family: $mainFont;
    color: $mainColor;
    padding: 5px;
    margin-bottom: 10px;
}